# P02

In [1]:
section_fig_main_title = 'P02_'

In [2]:
!which python

/Users/amin/miniconda3/bin/python

In [3]:
import sys
print(sys.executable)

/Users/amin/anaconda3/bin/python

In [4]:
import os, sys
import requests
from urllib.parse import urljoin, urlparse
# from bs4 import BeautifulSoup as bs
import re
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%config InlineBackend.figure_format = 'retina'
from pandas.plotting import lag_plot

from tensorflow import keras

from sklearn.metrics import r2_score
from math import sqrt
import json

from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_absolute_error
from xgboost import XGBRegressor
# !/Users/amin/Desktop/proj/env/bin/python -m pip install xgboost

from sklearn.metrics import r2_score,mean_absolute_error

# !/Users/amin/anaconda3/bin/python -m pip install --upgrade tensorflow 
# pip install --upgrade tensorflow 

import warnings
warnings.filterwarnings('ignore')
warnings.simplefilter(action='ignore', category=FutureWarning)

from sklearn.preprocessing import MinMaxScaler
from keras.models import Sequential
from keras.layers import Dense, LSTM, Dropout, GRU, Bidirectional
# from keras.optimizers import SGD
from tensorflow.keras.optimizers import SGD

import math
from sklearn.metrics import mean_squared_error


from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import StandardScaler, PolynomialFeatures

from pandas.plotting import autocorrelation_plot
import gif

/Users/amin/anaconda3/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:526: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
/Users/amin/anaconda3/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:527: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
/Users/amin/anaconda3/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:528: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
/Users/amin/anaconda3/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:529: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
/Users/amin/anaconda3/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:530: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
/Users/amin/anaconda3/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:535: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])
Using TensorFlow backend.

In [5]:
from statsmodels.tsa.ar_model import AutoReg
from sklearn.metrics import mean_squared_error

import tensorflow as tf
print(tf.__version__)

import gif
from tqdm import tqdm

from sklearn import metrics
# import statsmoadels.api as sm

1.13.1

## Read Data 

Using data from part 02_03 EDA.

In [6]:
csv_path = "../Data/Data_ICME_Edited_out_P02_02.csv"
df = pd.read_csv(csv_path, infer_datetime_format=True)

In [7]:
df['ICME Plasma/Field Start Y/M/D (UT) (b)'] = pd.to_datetime(df['ICME Plasma/Field Start Y/M/D (UT) (b)'])
df['ICME Plasma/Field End Y/M/D (UT) (b)'] = pd.to_datetime(df['ICME Plasma/Field End Y/M/D (UT) (b)'])


df.index = df['ICME Plasma/Field Start Y/M/D (UT) (b)']
df = df.drop(columns=['ICME Plasma/Field Start Y/M/D (UT) (b)'])
df = df.drop(columns=['ICME Plasma/Field End Y/M/D (UT) (b)'])

In [8]:
df.head()

,Disturbance Y/M/D (UT) (a),Comp. Start (Hrs wrt. Plasma/ Field) (c),Comp. End (Hrs wrt. Plasma/ Field) (c),MC Start (Hrs wrt. Plasma/ Field) (d),End (Hrs wrt. Plasma/ Field) (d),BDE? (e),BIF? (f),Qual. (g),dV (km/s) (h),V_ICME (km/s) (i),V_max (km/s) (j),B (nT) (k),MC? (l),Dst (nT) (m),V_transit (km/s) (n),LASCO CME Y/M/D (UT) (o)
ICME Plasma/Field Start Y/M/D (UT) (b),,,,,,,,,,,,,,,,
1996-05-27 15:00:00,1996/05/27 1500,...,...,0,+4,N,...,2,0,370,400,9,2,-33,...,NaN
1996-07-01 18:00:00,1996/07/01 1320,...,...,0,0,N,...,3,40,360,370,11,2,-20,...,NaN
1996-08-07 12:00:00,1996/08/07 0600,...,...,0,0,N,...,2,10,350,380,7,2,-23,...,NaN
1996-12-23 17:00:00,1996/12/23 1600,...,...,+10,0,N,...,2,20,360,420,10,2,-18,435,1996/12/19 1630 H
1997-01-10 04:00:00,1997/01/10 0104,...,...,0,0,Y,...,1,100 S,450,460,14,2,-78,507,1997/01/06 1510 H

In [9]:
df.columns

Index(['Disturbance Y/M/D (UT) (a)',
       'Comp. Start (Hrs wrt. Plasma/ Field) (c)',
       'Comp. End (Hrs wrt. Plasma/ Field) (c)',
       'MC Start (Hrs wrt. Plasma/ Field) (d)',
       'End (Hrs wrt. Plasma/ Field) (d)', 'BDE? (e)', 'BIF? (f)', 'Qual. (g)',
       'dV (km/s) (h)', 'V_ICME (km/s) (i)', 'V_max (km/s) (j)', 'B (nT) (k)',
       'MC? (l)', 'Dst (nT) (m)', 'V_transit (km/s) (n)',
       'LASCO CME Y/M/D (UT) (o)'],
      dtype='object')

In [10]:
df = df.drop(columns=['Disturbance Y/M/D (UT) (a)',
       'Comp. Start (Hrs wrt. Plasma/ Field) (c)',
       'Comp. End (Hrs wrt. Plasma/ Field) (c)',
        'BIF? (f)','V_max (km/s) (j)','LASCO CME Y/M/D (UT) (o)'])

In [11]:
df.head()

,MC Start (Hrs wrt. Plasma/ Field) (d),End (Hrs wrt. Plasma/ Field) (d),BDE? (e),Qual. (g),dV (km/s) (h),V_ICME (km/s) (i),B (nT) (k),MC? (l),Dst (nT) (m),V_transit (km/s) (n)
ICME Plasma/Field Start Y/M/D (UT) (b),,,,,,,,,,
1996-05-27 15:00:00,0,+4,N,2,0,370,9,2,-33,...
1996-07-01 18:00:00,0,0,N,3,40,360,11,2,-20,...
1996-08-07 12:00:00,0,0,N,2,10,350,7,2,-23,...
1996-12-23 17:00:00,+10,0,N,2,20,360,10,2,-18,435
1997-01-10 04:00:00,0,0,Y,1,100 S,450,14,2,-78,507

In [12]:
df = df.replace('...', np.nan)

In [13]:
df.isnull().sum()

MC Start (Hrs wrt. Plasma/ Field) (d)    410
End (Hrs wrt. Plasma/ Field) (d)         410
BDE? (e)                                  12
Qual. (g)                                  0
dV (km/s) (h)                              1
V_ICME (km/s) (i)                          0
B (nT) (k)                                 0
MC? (l)                                    0
Dst (nT) (m)                               7
V_transit (km/s) (n)                     248
dtype: int64

In [14]:
df = df.drop(columns=['MC Start (Hrs wrt. Plasma/ Field) (d)',
       'End (Hrs wrt. Plasma/ Field) (d)', 'V_transit (km/s) (n)'])

In [15]:
df.head()

,BDE? (e),Qual. (g),dV (km/s) (h),V_ICME (km/s) (i),B (nT) (k),MC? (l),Dst (nT) (m)
ICME Plasma/Field Start Y/M/D (UT) (b),,,,,,,
1996-05-27 15:00:00,N,2,0,370,9,2,-33
1996-07-01 18:00:00,N,3,40,360,11,2,-20
1996-08-07 12:00:00,N,2,10,350,7,2,-23
1996-12-23 17:00:00,N,2,20,360,10,2,-18
1997-01-10 04:00:00,Y,1,100 S,450,14,2,-78

In [16]:
df.isnull().sum()

BDE? (e)             12
Qual. (g)             0
dV (km/s) (h)         1
V_ICME (km/s) (i)     0
B (nT) (k)            0
MC? (l)               0
Dst (nT) (m)          7
dtype: int64

In [17]:
df = df.dropna()

In [18]:
df.isnull().sum()

BDE? (e)             0
Qual. (g)            0
dV (km/s) (h)        0
V_ICME (km/s) (i)    0
B (nT) (k)           0
MC? (l)              0
Dst (nT) (m)         0
dtype: int64

In [19]:
df.head()

,BDE? (e),Qual. (g),dV (km/s) (h),V_ICME (km/s) (i),B (nT) (k),MC? (l),Dst (nT) (m)
ICME Plasma/Field Start Y/M/D (UT) (b),,,,,,,
1996-05-27 15:00:00,N,2,0,370,9,2,-33
1996-07-01 18:00:00,N,3,40,360,11,2,-20
1996-08-07 12:00:00,N,2,10,350,7,2,-23
1996-12-23 17:00:00,N,2,20,360,10,2,-18
1997-01-10 04:00:00,Y,1,100 S,450,14,2,-78

In [20]:
df.dtypes

BDE? (e)             object
Qual. (g)            object
dV (km/s) (h)        object
V_ICME (km/s) (i)     int64
B (nT) (k)            int64
MC? (l)              object
Dst (nT) (m)         object
dtype: object

In [21]:
df.columns

Index(['BDE? (e)', 'Qual. (g)', 'dV (km/s) (h)', 'V_ICME (km/s) (i)',
       'B (nT) (k)', 'MC? (l)', 'Dst (nT) (m)'],
      dtype='object')

In [22]:
cols = ['BDE? (e)', 'Qual. (g)', 'dV (km/s) (h)', 'MC? (l)', 'Dst (nT) (m)']
df[cols].nunique()

BDE? (e)           3
Qual. (g)          5
dV (km/s) (h)     62
MC? (l)            4
Dst (nT) (m)     221
dtype: int64

Evidence of BiDirectional suprathermal Electron strahls (BDE) in ACE/SWEPAM Observations. If data are unavailable from SWEPAM (data commence on 10/22/97), observations from the 3-D P instrument on WIND are referred to. "SEP" indicates that an intense solar energetic particle event was in progress at the time of ICME passage and electron flows therefore cannot be determined.

[reference](http://www.srl.caltech.edu/ACE/ASC/DATA/level3/icmetable2.htm#(e))

In [23]:
df['BDE? (e)'].unique()

array(['N', 'Y', 'SEP'], dtype=object)

The "quality" of the boundary times (`1' indicating the most reliable) based on assessment of the various data sets, including plasma, magnetic field and solar wind composition/charge states. 'W' indicates that the overall ICME signatures are particularly weak.

In [24]:
df['Qual. (g)'].unique()

array(['2', '3', '1', '2W', '3W'], dtype=object)

```
1 - most reliable --> 5
2 - reliable --> 4
2w - weak, reliable --> 3
3 - less reliable --> 2
3w - weak, less reliable --> 1
```

In [25]:
df['Qual. (g)'] = df['Qual. (g)'].str.replace('1', 'best')

In [26]:
df['Qual. (g)'] = df['Qual. (g)'].str.replace('2w', 'average')

In [27]:
\
str.replace('2', 'reliable').str.replace('2w', 'average').\
str.replace('3', 'less_reliable').str.replace('3w', 'worst')

TypeError: replace() takes at least 2 arguments (1 given)