In [1]:
import os, sys
import requests
from urllib.parse import urljoin, urlparse
from bs4 import BeautifulSoup
import re

## Request
Send request to the data source table webpage [here](http://www.srl.caltech.edu/ACE/ASC/DATA/level3/icmetable2.htm#(k))

In [245]:
url = "http://www.srl.caltech.edu/ACE/ASC/DATA/level3/icmetable2.htm#(k)"
r = requests.get(url)
soup = BeautifulSoup(r.text, 'html.parser')

## Searching for content

In [236]:
tables = soup.find_all('table')
tables

[<table align="center" bgcolor="#ECFFFF" border="1" cellpadding="1" cellspacing="0" columns="18" width="1500">
 <thead>
 <tr align="center"><td><b>Disturbance Y/M/D (UT) <a href="#(a)">(a)</a></b> </td><td colspan="2">
 <b>ICME Plasma/Field Start, End Y/M/D (UT) <a href="#(b)">(b)</a> </b> </td><td colspan="2">
 <b>Comp. Start, End (Hrs wrt. Plasma/ Field) <a href="#(c)">(c)</a></b> </td><td colspan="2">
 <b>MC Start, End (Hrs wrt. Plasma/ Field) <a href="#(d)">(d)</a></b> </td><td>
 <b>BDE? <a href="#(e)">(e)</a></b> </td><td>
 <b>BIF? <a href="#(f)">(f)</a></b> </td><td>
 <b> Qual. <a href="#(g)">(g)</a></b></td><td>
 <b>dV (km/s) <a href="#(h)">(h)</a></b> </td><td>
 <b>V_ICME (km/s) <a href="#(i)">(i)</a></b> </td><td>
 <b>V_max (km/s) <a href="#(j)">(j)</a></b> </td><td>
 <b>B (nT) <a href="#(k)">(k)</a></b> </td><td>
 <b>MC? <a href="#(l)">(l)</a></b> </td><td>
 <b>Dst (nT) <a href="#(m)">(m)</a></b> </td><td>
 <b>V_transit (km/s) <a href="#(n)">(n)</a></b> </td><td>
 <b>LASCO CME Y/M/D (UT)<a href="#(o)"> (o)</a></b></td></tr>
 </thead>
 <tr align="center"><td>1996/05/27 1500 </td><td>1996/05/27 1500 </td><td> 1996/05/29 0300 </td><td>... </td><td>... </td><td> 0 </td><td> +4 </td><td>N </td><td>... </td><td> 2 </td><td>0  </td><td>370 </td><td>  400 </td><td>   9 </td><td>  2 </td><td>            -33 </td><td> ... </td><td> </td></tr>
 <tr align="center"><td>1996/07/01 1320 </td><td>1996/07/01 1800 </td><td> 1996/07/02 1100 </td><td>... </td><td>... </td><td> 0  </td><td> 0 </td><td>N </td><td>... </td><td> 3 </td><td>  40  </td><td>360 </td><td>  370 </td><td>  11 </td><td>  2 </td><td>         -20 </td><td> ... </td><td>    </td> </tr>
 <tr align="center"><td>1996/08/07 0600 </td><td>1996/08/07 1200 </td><td> 1996/08/08 1000 </td><td>... </td><td>... </td><td>0 </td><td> 0 </td><td>N </td><td>... </td><td> 2 </td><td>10  </td><td>350 </td><td>  380 </td><td>   7 </td><td>  2 </td><td>         -23 </td><td> ... </td><td> </td></tr>
 <tr align="center"><td>1996/12/23 1600 </td><td>1996/12/23 1700 </td><td> 1996/12/25 1100 </td><td>... </td><td>... </td><td>+10 </td><td>0  </td><td>N </td><td>... </td><td> 2 </td><td>20  </td><td>360 </td><td>  420 </td><td>  10 </td><td>  2 </td><td>         -18 </td><td> 435 </td><td> 1996/12/19 1630 H   </td></tr>
 <thead>
 <tr align="center"><td><b>Disturbance Y/M/D (UT) <a href="#(a)">(a)</a></b> </td><td colspan="2">
 <b>ICME Plasma/Field Start, End Y/M/D (UT) <a href="#(b)">(b)</a> </b> </td><td colspan="2">
 <b>Comp. Start, End (Hrs wrt. Plasma/ Field) <a href="#(c)">(c)</a></b> </td><td colspan="2">
 <b>MC Start, End (Hrs wrt. Plasma/ Field) <a href="#(d)">(d)</a></b> </td><td>
 <b>BDE? <a href="#(e)">(e)</a></b> </td><td>
 <b>BIF? <a href="#(f)">(f)</a></b> </td><td>
 <b> Qual. <a href="#(g)">(g)</a></b></td><td>
 <b>dV (km/s) <a href="#(h)">(h)</a></b> </td><td>
 <b>V_ICME (km/s) <a href="#(i)">(i)</a></b> </td><td>
 <b>V_max (km/s) <a href="#(j)">(j)</a></b> </td><td>
 <b>B (nT) <a href="#(k)">(k)</a></b> </td><td>
 <b>MC? <a href="#(l)">(l)</a></b> </td><td>
 <b>Dst (nT) <a href="#(m)">(m)</a></b> </td><td>
 <b>V_transit (km/s) <a href="#(n)">(n)</a></b> </td><td>
 <b>LASCO CME Y/M/D (UT)<a href="#(o)"> (o)</a></b></td></tr>
 </thead>
 <tr align="center"><td>1997/01/10 0104 </td><td>  1997/01/10 0400 </td><td> 1997/01/11 0200 </td><td>... </td><td>... </td><td>0 </td><td>0 </td><td>Y </td><td>... </td><td> 1 </td><td>  100 S</td><td>450 </td><td>  460 </td><td>  14 </td><td>  2 </td><td>       -78 </td><td> 507 </td><td> 1997/01/06 1510 H   </td></tr>
 <tr align="center"><td>1997/02/09 1321 </td><td>  1997/02/10 0200 </td><td> 1997/02/10 1900 </td><td>... </td><td>... </td><td>0 </td><td>0 </td><td>Y </td><td>... </td><td> 2 </td><td> 90  S</td><td>450 </td><td>  600 </td><td>   8 </td><td>  2 </td><td>       -68 </td><td> 683 </td><td> 1997/02/07 0030 H </td></tr>
 <tr align="center"><td>1997/04/10 1745 </td><td>  1997/04/11 0600 </td><td> 1997/04/11 1900 </td><td>... </td><td>... </td><td>0 </td><td>0 </td><td>Y </td><td>... </td><td> 1 </td><td>  150  </td><td>460 </td><td>  470 </td><td>  20 </td><td>  2 </td><td>    -82 </td><td> 552 </td><td> 1997/04/07 1427 H</td></tr>
 <tr align="center"><td> 1997/04/21 0600 </td><td>  1997/04/21 1000 </td><td> 1997/04/23 0400 </td><td>... </td><td>... </td><td>+4 </td><td>+2 </td><td>Y </td><td>... </td><td> 2 </td><td>40  </td><td>360 </td><td>  420 </td><td>  12 </td><td>  2 </td><td>   -107 </td><td> ... </td><td> </td></tr>
 <tr align="center"><td> 1997/05/15 0159 </td><td>  1997/05/15 0900 </td><td> 1997/05/16 0000 </td><td>... </td><td>... </td><td>0 </td><td>0 </td><td>N </td><td>Y </td><td> 1 </td><td> 150 S </td><td>450 </td><td>  480 </td><td>  21 </td><td>  2 </td><td>         -115 </td><td> 616 </td><td> 1997/05/12 0530 H </td></tr>
 <tr align="center"><td> 1997/05/26 0957 </td><td>  1997/05/26 1600 </td><td> 1997/05/27 1000 </td><td>... </td><td>... </td><td>0 </td><td>+9 </td><td>Y </td><td>... </td><td> 2 </td><td>  70 S  </td><td>340 </td><td>  350 </td><td>  10 </td><td>  2H </td><td>          -74 </td><td> 381 </td><td> 1997/05/21 2100</td></tr>
 <tr align="center"><td>1997/06/08 1636 </td><td>  1997/06/08 1800 </td><td> 1997/06/10 0000 </td><td>... </td><td>... </td><td>+8 </td><td>0 </td><td>Y </td><td>... </td><td> 3 </td><td>  30  </td><td>380 </td><td>  400 </td><td>  12 </td><td>  2 </td><td>       -84 </td><td> ... </td><td> </td></tr>
 <tr align="center"><td>1997/06/19 0032 </td><td>  1997/06/19 0700 </td><td> 1997/06/20 2300 </td><td>... </td><td>... </td><td>-2 </td><td>-31 </td><td>Y </td><td>Y </td><td> 2 </td><td>  60  </td><td>360 </td><td>  390 </td><td>   8 </td><td>  2 </td><td>       -36 </td><td> ... </td><td> </td></tr>
 <tr align="center"><td>1997/07/15 0311 </td><td>  1997/07/15 0800 </td><td> 1997/07/16 1100 </td><td>... </td><td>... </td><td>0 </td><td>-11 </td><td>Y </td><td>Y </td><td> 2 </td><td>  80  </td><td>350 </td><td>  360 </td><td>  10 </td><td>  2 </td><td>       -45 </td><td> ... </td><td> </td></tr>
 <tr align="center"><td>1997/08/03 1042 </td><td>  1997/08/03 1300 </td><td> 1997/08/04 0300 </td><td>... </td><td>... </td><td>0 </td><td>0 </td><td>Y </td><td>... </td><td> 1 </td><td>  80  </td><td>400 </td><td>  480 </td><td>  16 </td><td>  2 </td><td>       -48 </td><td> 410 </td><td> 1997/07/30 0445 H</td></tr>
 <tr align="center"><td>1997/08/17 0200 </td><td>  1997/08/17 0600 </td><td> 1997/08/17 2000 </td><td>... </td><td>... </td><td>... </td><td>... </td><td>N </td><td>... </td><td> 2W </td><td>60  </td><td>390 </td><td>  410 </td><td>   7 </td><td>  0 </td><td>       -28 </td><td> ... </td><td> </td></tr>
 <tr align="center"><td>1997/09/03 0800 </td><td>  1997/09/03 1300 </td><td> 1997/09/03 2100 </td><td>... </td><td>... </td><td>... </td><td>... </td><td>Y </td><td>N </td><td> 3W </td><td>40 S </td><td>410 </td><td>  430 </td><td>  14 </td><td>  1 </td><td>    -98 </td><td> 405 </td><td> 1997/08/30 0130 H</td></tr>
 <tr align="center"><td>1997/09/21 1651 </td><td>  1997/09/21 2100 </td><td> 1997/09/22 1600 </td><td>... </td><td>... </td><td>+3 </td><td>0 </td><td>N </td><td>... </td><td> 1 </td><td>  110  </td><td>440 </td><td>  470 </td><td>  16 </td><td>  2 </td><td>    -36 </td><td> 450 </td><td> 1997/09/17 2028 H   </td></tr>
 <tr align="center"><td>1997/10/01 0059 </td><td>  1997/10/01 1600 </td><td> 1997/10/02 2300 </td><td>... </td><td>... </td><td>0 </td><td>0 </td><td>Y </td><td>N </td><td> 1 </td><td> 60 S </td><td>450 </td><td>  470 </td><td>  10 </td><td>  2 </td><td>       -98 </td><td> 580 </td><td> 1997/09/28 0108 H </td></tr>
 <tr align="center"><td>1997/10/10 0300 </td><td>  1997/10/10 1100 </td><td> 1997/10/10 2200 </td><td>... </td><td>... </td><td>... </td><td>... </td><td>Y </td><td>... </td><td>2 </td><td>30 </td><td>430 </td><td>460 </td><td>   8 </td><td>  1 </td><td>    -64       </td><td>...     </td><td> </td></tr>
 <tr align="center"><td>1997/10/10 1612 </td><td>  1997/10/10 2200 </td><td> 1997/10/12 0000 </td><td>... </td><td>... </td><td>0 </td><td>0 </td><td>Y </td><td>Y </td><td> 1 </td><td> 40 S </td><td>400 </td><td>  450 </td><td>  12 </td><td>  2 </td><td>      -130 </td><td> 430 </td><td> 1997/10/06 1528    </td></tr>
 <tr align="center"><td>1997/10/26 1200 </td><td>  1997/10/27 0000 </td><td> 1997/10/28 0700 </td><td>... </td><td>... </td><td>... </td><td>... </td><td>Y </td><td>... </td><td> 2 </td><td>40  </td><td>500 </td><td>  520 </td><td>   7 </td><td>  1 </td><td>       -60 </td><td> 572 </td><td> 1997/10/23 1126 H</td></tr>
 <tr align="center"><td> 1997/11/06 2248 </td><td>  1997/11/07 0400 </td><td> 1997/11/09 1200 </td><td>... </td><td>... </td><td>+11 </td><td>-21 (2 MCs) </td><td>Y </td><td>N </td><td> 2 </td><td> 140 S </td><td>400 </td><td>  460 </td><td>  11 </td><td>  2 </td><td>       -110 </td><td> 640 </td><td> 1997/11/04 0610 H</td></tr>
 <tr align="center"><td>1997/11/22 0949 </td><td>  1997/11/22 1900 </td><td> 1997/11/23 1400 </td><td>... </td><td>... </td><td>0 </td><td>-2 </td><td>Y </td><td>... </td><td> 1 </td><td> 170 S </td><td>510 </td><td>  520 </td><td>  17 </td><td>  2 </td><td>      -108 </td><td> 640 </td><td> dg (1997/11/19 1700)</td></tr>
 <tr align="center"><td>1997/11/23 1900 </td><td> 1997/11/24 0000  </td><td>1997/11/25 0000 </td><td>... </td><td>... </td><td>...  </td><td>...  </td><td>Y </td><td>...  </td><td>2  </td><td>100  </td><td>530  </td><td>590  </td><td>  5    </td><td> 0   </td><td>-47        </td><td>...      </td><td>   </td></tr>
 <tr align="center"><td>1997/12/10 0526 </td><td>  1997/12/10 1800 </td><td> 1997/12/12 0000 </td><td>... </td><td>... </td><td>... </td><td>... </td><td>... </td><td>... </td><td> 2 </td><td> 50 S </td><td>350 </td><td>  380 </td><td>  12 </td><td>  0 </td><td>       -60 </td><td> 460 </td><td> 1997/12/06 1027</td></tr>
 <tr align="center"><td> 1997/12/30 0209 </td><td>  1997/12/30 1000 </td><td> 1997/12/31 1100 </td><td>... </td><td>... </td><td>... </td><td>... </td><td>Y </td><td>... </td><td> 3 </td><td> 50 S </td><td>370 </td><td>  410 </td><td>  12 </td><td>  1 </td><td>       -77 </td><td> 430 </td><td> 1997/12/26 0231 </td></tr>
 <thead>
 <tr align="center"><td><b>Disturbance Y/M/D (UT) <a href="#(a)">(a)</a></b> </td><td colspan="2">
 <b>ICME Plasma/Field Start, End Y/M/D (UT) <a href="#(b)">(b)</a> </b> </td><td colspan="2">
 <b>Comp. Start, End (Hrs wrt. Plasma/ Field) <a href="#(c)">(c)</a></b> </td><td colspan="2">
 <b>MC Start, End (Hrs wrt. Plasma/ Field) <a href="#(d)">(d)</a></b> </td><td>
 <b>BDE? <a href="#(e)">(e)</a></b> </td><td>
 <b>BIF? <a href="#(f)">(f)</a></b> </td><td>
 <b> Qual. <a href="#(g)">(g)</a></b></td><td>
 <b>dV (km/s) <a href="#(h)">(h)</a></b> </td><td>
 <b>V_ICME (km/s) <a href="#(i)">(i)</a></b> </td><td>
 <b>V_max (km/s) <a href="#(j)">(j)</a></b> </td><td>
 <b>B (nT) <a href="#(k)">(k)</a></b> </td><td>
 <b>MC? <a href="#(l)">(l)</a></b> </td><td>
 <b>Dst (nT) <a href="#(m)">(m)</a></b> </td><td>
 <b>V_transit (km/s) <a href="#(n)">(n)</a></b> </td><td>
 <b>LASCO CME Y/M/D (UT)<a href="#(o)"> (o)</a></b></td></tr>
 </thead>
 <tr align="center"><td>
  1998/01/06 1416</td><td>  1998/01/07 0100</td><td> 1998/01/08 2200</td><td>...</td><td>...</td><td>+2</td><td>0 (2 MCs) </td><td>Y</td><td>..</td><td> 2</td><td> 80 S</td><td>400</td><td>  410</td><td>  16</td><td>  2</td><td>       -77</td><td> 480</td><td> 1998/01/02 2328 H   </td></tr><tr align="center"><td>
  1998/01/09 0700</td><td>  1998/01/09 0700</td><td> 1998/01/10 0800</td><td>...</td><td>...</td><td>...</td><td>...</td><td>N</td><td>...</td><td> 2</td><td>0 </td><td>450</td><td>  500</td><td>   6</td><td>  1</td><td>       -28</td><td> ...</td><td>        </td> </tr><tr align="center"><td>
  1998/01/20 0000</td><td>  1998/01/20 1700</td><td> 1998/01/21 0400</td><td>...</td><td>...</td><td>...</td><td>...</td><td>Y</td><td>...</td><td> 3W</td><td>50 </td><td>430</td><td>  450</td><td>   5</td><td>  1</td><td>       -29</td><td> ...</td><td>      </td> </tr><tr align="center"><td>
  1998/01/21 0400</td><td>  1998/01/21 0600</td><td> 1998/01/22 1300</td><td>...</td><td>...</td><td>...</td><td>...</td><td>N</td><td>...</td><td> 3W</td><td>0 </td><td>380</td><td>  400</td><td>  13</td><td>  0</td><td>     -11</td><td> 430</td><td> 1998/01/17 0409 H </td></tr><tr align="center"><td>
  1998/01/28 1600(A)</td><td>  1998/01/29 2000</td><td> 1998/01/31 0100</td><td>...</td><td>...</td><td>...</td><td>...</td><td>Y</td><td>N</td><td> 2</td><td>30 S </td><td>380</td><td>  410</td><td>   7</td><td>  0</td><td>     -55</td><td> 557</td><td> 1998/01/25 1526 H  </td></tr><tr align="center"><td>
  1998/02/04 0000</td><td>  1998/02/04 0400</td><td> 1998/02/05 2300</td><td>...</td><td>...</td><td>0</td><td>0</td><td>Y</td><td>...</td><td> 1</td><td>50 </td><td>320</td><td>  390</td><td>  11</td><td>  2</td><td>       -34</td><td> ...</td><td>    </td> </tr><tr align="center"><td>
  1998/02/17 0400</td><td>  1998/02/17 1000</td><td> 1998/02/17 2100</td><td>ns</td><td>ns</td><td>0</td><td>+7</td><td>Y</td><td>...</td><td> 2W</td><td>30 </td><td>400</td><td>  420</td><td>  12</td><td>  2H</td><td>      -100</td><td> 602</td><td> 1998/02/14 0655  </td></tr><tr align="center"><td>
  1998/02/18 0750(A)</td><td>  1998/02/19 0100</td><td> <b></b>1998/02/20 0000</td><td>-3</td><td>...</td><td>...</td><td>...</td><td>N</td><td>...</td><td> 2</td><td>20 S</td><td>440</td><td>  460</td><td>   9</td><td>  1</td><td>    -51</td><td> ...</td><td>       </td> </tr><tr align="center"><td>
  1998/03/04 1156</td><td>  1998/03/04 1300</td><td> 1998/03/06 0900</td><td>0</td><td>-9</td><td>0</td><td>-3</td><td>N</td><td>...</td><td> 1</td><td>  30 S </td><td>350</td><td>  380</td><td>  12</td><td>  2</td><td>    -36</td><td> 440</td><td> 1998/02/28 1248      </td></tr><tr align="center"><td>

  1998/03/25 1000</td><td>  1998/03/25 1300</td><td> 1998/03/26 1000</td><td>...</td><td>...</td><td>...</td><td>...</td><td>Y</td><td>Y</td><td> 1</td><td>20 </td><td>400</td><td>  400</td><td>  10</td><td>  1</td><td>    -56</td><td> ...</td><td>  </td> </tr><tr align="center"><td>
  1998/03/30 2200</td><td>  1998/03/31 1100</td><td>1998/04/03 0200 </td><td>-6</td><td>0</td><td>...</td><td>...</td><td>N</td><td>Y</td><td> 1</td><td>30 </td><td>360   </td><td>430 </td><td> 7</td><td>  0 </td><td> -35 </td><td>... </td><td>    </td> </tr><tr align="center"><td>
  1998/04/11 2300</td><td>  1998/04/11 2300</td><td> 1998/04/13 1800</td><td>ns</td><td>ns</td><td>...</td><td>...</td><td>N</td><td>...</td><td> 3W</td><td>20 </td><td>390</td><td>  390</td><td>   8</td><td>  0</td><td>    -46</td><td> ...</td><td>         </td> </tr><tr align="center"><td>
  1998/05/01 2156</td><td>  1998/05/02 0500</td><td> 1998/05/04 0200</td><td>-2</td><td>-24</td><td>+7</td><td>-9</td><td>Y</td><td>Y</td><td> 1</td><td> 150 S </td><td>520</td><td>  650</td><td>  11</td><td>  2</td><td>       -85</td><td> 780</td><td> 1998/04/29 1658 H  </td></tr><tr align="center"><td>
  1998/05/04 0215(A)</td><td>  1998/05/04 1000</td><td> 1998/05/07 2300</td><td>-7</td><td>0</td><td>...</td><td>...</td><td>Y</td><td>...</td><td> 2</td><td>  250 Wv </td><td>550</td><td>  830</td><td> 10</td><td>  0</td><td> -205</td><td>1150</td><td> 1998/05/02 1406 H<a href="#(p)">(p)</a> </td></tr><tr align="center"><td>
  1998/06/02 0800</td><td>  1998/06/02 1000</td><td> 1998/06/02 1800</td><td>...</td><td>...</td><td>0</td><td>0</td><td>N</td><td>...</td><td> 2</td><td>10 </td><td>390</td><td>  400</td><td>  9</td><td>  2</td><td>       -1</td><td> ...</td><td>     </td> </tr><tr align="center"><td>
  1998/06/13 1925</td><td>  1998/06/14 0400</td><td> 1998/06/15 0600</td><td>...</td><td>...</td><td>...</td><td>...</td><td>Y</td><td>N</td><td> 3</td><td>  80 S </td><td>340</td><td>  380</td><td>  10</td><td>  1</td><td>       -55</td><td> ...</td><td>      </td> </tr><tr align="center"><td>
  1998/06/24 1000</td><td>  1998/06/24 1600</td><td> 1998/06/25 2300</td><td>0</td><td>0</td><td>0</td><td>0</td><td>Y</td><td>...</td><td> 2</td><td>80 </td><td>450</td><td>  540</td><td>  12</td><td>  2</td><td>       -25</td><td> ...</td><td> 1998/06/21 0535?     </td></tr><tr align="center"><td>
  1998/06/25 1636</td><td>  1998/06/26 0400</td><td> 1998/06/26 1900</td><td>0</td><td>0</td><td>...</td><td>...</td><td>Y</td><td>...</td><td> 2</td><td>  30 S </td><td>470</td><td>  490</td><td>  11</td><td>  0</td><td>      -101</td><td> ...</td><td>          </td> </tr><tr align="center"><td>
  1998/07/05 0315(A)</td><td>  1998/07/06 0600</td><td> 1998/07/09 0700</td><td>0</td><td>...</td><td>...</td><td>...</td><td>N</td><td>...</td><td> 1</td><td>50 S </td><td>450</td><td>  630</td><td>   5</td><td>  0</td><td>       -30</td><td>  dg</td><td> dg               </td></tr><tr align="center"><td>
  1998/07/10 2300</td><td>  1998/07/11 0000</td><td> 1998/07/13 1500</td><td>...</td><td>...</td><td>...</td><td>...</td><td>Y</td><td>Y</td><td> 3W</td><td>20 </td><td>400</td><td>  430</td><td>  10</td><td>  0</td><td>       -35</td><td>  dg</td><td> dg           </td></tr><tr align="center"><td>
  1998/08/01 0400</td><td>  1998/08/01 0400</td><td> 1998/08/03 1000</td><td>0</td><td>...</td><td>...</td><td>...</td><td>N</td><td>Y</td><td> 3</td><td>30 </td><td>410</td><td>  450</td><td>   7</td><td>  1</td><td>       -6</td><td>  dg</td><td> dg               </td></tr><tr align="center"><td>
  1998/08/05 1300</td><td>  1998/08/05 1300</td><td> 1998/08/06 1200</td><td>...</td><td>...</td><td>...</td><td>...</td><td>Y</td><td>Y</td><td> 2W</td><td>0 </td><td>360</td><td>  390</td><td>  8</td><td>  1</td><td>      -138</td><td>  dg</td><td> dg          </td></tr><tr align="center"><td>
  1998/08/07 1100</td><td>  1998/08/07 2300</td><td> 1998/08/09 2300</td><td>...</td><td>...</td><td>...</td><td>...</td><td>N</td><td>Y</td><td> 2</td><td>0 </td><td>450</td><td>  500</td><td>   7</td><td>  0</td><td>       -62</td><td>  dg</td><td> dg           </td></tr><tr align="center"><td>
  1998/08/10 0046</td><td>  1998/08/10 1100</td><td> 1998/08/10 2200</td><td>ns</td><td>ns</td><td>...</td><td>...</td><td>Y</td><td>N</td><td> 3W</td><td> 100 S </td><td>450</td><td>  500</td><td>  7</td><td>  0</td><td>       -27</td><td>  dg</td><td> dg               </td></tr><tr align="center"><td>
  1998/08/11 2300</td><td>  1998/08/12 0100</td><td> 1998/08/13 1400</td><td>ns</td><td>ns</td><td>...</td><td>...</td><td>Y</td><td>...</td><td> 3W</td><td>20 </td><td>370</td><td>  420</td><td>  8</td><td>  1</td><td>       -19</td><td>  dg</td><td> dg               </td></tr><tr align="center"><td>
  1998/08/19 1847</td><td>  1998/08/20 0600</td><td> 1998/08/21 2000</td><td>0</td><td>0</td><td>+4</td><td>0</td><td>Y</td><td>Y</td><td> 1</td><td>  50 S </td><td>320</td><td>  340</td><td>  13</td><td>  2</td><td>       -67</td><td>  dg</td><td> dg               </td></tr><tr align="center"><td>
  1998/08/26 0651</td><td>  1998/08/26 2200</td><td> 1998/08/28 0000</td><td>0</td><td>+18</td><td>...</td><td>...</td><td>Y</td><td>...</td><td> 2</td><td>200 S </td><td>650</td><td>  860</td><td>  14</td><td>  0</td><td>      -155</td><td>1260</td><td> dg (1998/08/24 2200) </td></tr><tr align="center"><td>
  1998/09/23 0200</td><td>1998/09/23 0400</td><td>1998/09/23 1800</td><td>ns</td><td>ns</td><td>...</td><td>...</td><td>Y</td><td>N</td><td>2</td><td> 80</td><td> 420  </td><td>490  </td><td>   7 </td><td>  1  </td><td> -33    </td><td>dg    </td><td> dg   </td></tr><tr align="center"><td>
  1998/09/24 2345</td><td>  1998/09/25 0600</td><td> 1998/09/26 1600</td><td>-2</td><td>+4</td><td>+4</td><td>-3</td><td>Y</td><td>Y</td><td> 1</td><td> 300 S </td><td>640</td><td>  820</td><td>  13</td><td>  2</td><td>   -207</td><td>1020</td><td> dg (1998/09/23 0700) </td></tr><tr align="center"><td>

In [237]:
len(tables)

1

In [86]:
column_names_1 = tables[0].find_all('tr')
print(column_names_1[0])

<tr align="center"><td><b>Disturbance Y/M/D (UT) <a href="#(a)">(a)</a></b> </td><td colspan="2">
<b>ICME Plasma/Field Start, End Y/M/D (UT) <a href="#(b)">(b)</a> </b> </td><td colspan="2">
<b>Comp. Start, End (Hrs wrt. Plasma/ Field) <a href="#(c)">(c)</a></b> </td><td colspan="2">
<b>MC Start, End (Hrs wrt. Plasma/ Field) <a href="#(d)">(d)</a></b> </td><td>
<b>BDE? <a href="#(e)">(e)</a></b> </td><td>
<b>BIF? <a href="#(f)">(f)</a></b> </td><td>
<b> Qual. <a href="#(g)">(g)</a></b></td><td>
<b>dV (km/s) <a href="#(h)">(h)</a></b> </td><td>
<b>V_ICME (km/s) <a href="#(i)">(i)</a></b> </td><td>
<b>V_max (km/s) <a href="#(j)">(j)</a></b> </td><td>
<b>B (nT) <a href="#(k)">(k)</a></b> </td><td>
<b>MC? <a href="#(l)">(l)</a></b> </td><td>
<b>Dst (nT) <a href="#(m)">(m)</a></b> </td><td>
<b>V_transit (km/s) <a href="#(n)">(n)</a></b> </td><td>
<b>LASCO CME Y/M/D (UT)<a href="#(o)"> (o)</a></b></td></tr>

In [105]:
len(column_names_1)

70

In [160]:
column_name_2  = column_names_1[0].find_all('b')

In [ ]:
column_name_2[0].text.strip()

In [110]:
len(column_name_2)

15

## Column names

In [96]:
Data_column_names = []
for col in column_name_2:
#     print(col.text.strip())
    Data_column_names.append(col.text.strip())
Data_column_names

['Disturbance Y/M/D (UT) (a)',
 'ICME Plasma/Field Start, End Y/M/D (UT) (b)',
 'Comp. Start, End (Hrs wrt. Plasma/ Field) (c)',
 'MC Start, End (Hrs wrt. Plasma/ Field) (d)',
 'BDE? (e)',
 'BIF? (f)',
 'Qual. (g)',
 'dV (km/s) (h)',
 'V_ICME (km/s) (i)',
 'V_max (km/s) (j)',
 'B (nT) (k)',
 'MC? (l)',
 'Dst (nT) (m)',
 'V_transit (km/s) (n)',
 'LASCO CME Y/M/D (UT) (o)']

In [97]:
len(Data_column_names)

15

In [243]:
# soup.prettify(tables)

In [246]:
bodys = soup.find_all('tbody')
bodys

[]

```
source https://stackoverflow.com/questions/51897756/table-element-not-showing-in-beautifulsoup
You are not getting that content because, when you execute the request, it is not present in the page. Yet.

If you check the javascript code between the script tags, you can see it is generating the table dynamically. So, you receive the html code before that has happened, since requests is not a browser and won't execute the js, and you don't get to see the table.
```

In [140]:
# data_1 = tables[0].find_all('td')
# # data_1[0]
# data_1

In [248]:
data_1 = tables[0].find_all('tr', align="center")
data_1

[<tr align="center"><td><b>Disturbance Y/M/D (UT) <a href="#(a)">(a)</a></b> </td><td colspan="2">
 <b>ICME Plasma/Field Start, End Y/M/D (UT) <a href="#(b)">(b)</a> </b> </td><td colspan="2">
 <b>Comp. Start, End (Hrs wrt. Plasma/ Field) <a href="#(c)">(c)</a></b> </td><td colspan="2">
 <b>MC Start, End (Hrs wrt. Plasma/ Field) <a href="#(d)">(d)</a></b> </td><td>
 <b>BDE? <a href="#(e)">(e)</a></b> </td><td>
 <b>BIF? <a href="#(f)">(f)</a></b> </td><td>
 <b> Qual. <a href="#(g)">(g)</a></b></td><td>
 <b>dV (km/s) <a href="#(h)">(h)</a></b> </td><td>
 <b>V_ICME (km/s) <a href="#(i)">(i)</a></b> </td><td>
 <b>V_max (km/s) <a href="#(j)">(j)</a></b> </td><td>
 <b>B (nT) <a href="#(k)">(k)</a></b> </td><td>
 <b>MC? <a href="#(l)">(l)</a></b> </td><td>
 <b>Dst (nT) <a href="#(m)">(m)</a></b> </td><td>
 <b>V_transit (km/s) <a href="#(n)">(n)</a></b> </td><td>
 <b>LASCO CME Y/M/D (UT)<a href="#(o)"> (o)</a></b></td></tr>,
 <tr align="center"><td>1996/05/27 1500 </td><td>1996/05/27 1500 </td><td> 1996/05/29 0300 </td><td>... </td><td>... </td><td> 0 </td><td> +4 </td><td>N </td><td>... </td><td> 2 </td><td>0  </td><td>370 </td><td>  400 </td><td>   9 </td><td>  2 </td><td>            -33 </td><td> ... </td><td> </td></tr>,
 <tr align="center"><td>1996/07/01 1320 </td><td>1996/07/01 1800 </td><td> 1996/07/02 1100 </td><td>... </td><td>... </td><td> 0  </td><td> 0 </td><td>N </td><td>... </td><td> 3 </td><td>  40  </td><td>360 </td><td>  370 </td><td>  11 </td><td>  2 </td><td>         -20 </td><td> ... </td><td>    </td> </tr>,
 <tr align="center"><td>1996/08/07 0600 </td><td>1996/08/07 1200 </td><td> 1996/08/08 1000 </td><td>... </td><td>... </td><td>0 </td><td> 0 </td><td>N </td><td>... </td><td> 2 </td><td>10  </td><td>350 </td><td>  380 </td><td>   7 </td><td>  2 </td><td>         -23 </td><td> ... </td><td> </td></tr>,
 <tr align="center"><td>1996/12/23 1600 </td><td>1996/12/23 1700 </td><td> 1996/12/25 1100 </td><td>... </td><td>... </td><td>+10 </td><td>0  </td><td>N </td><td>... </td><td> 2 </td><td>20  </td><td>360 </td><td>  420 </td><td>  10 </td><td>  2 </td><td>         -18 </td><td> 435 </td><td> 1996/12/19 1630 H   </td></tr>,
 <tr align="center"><td><b>Disturbance Y/M/D (UT) <a href="#(a)">(a)</a></b> </td><td colspan="2">
 <b>ICME Plasma/Field Start, End Y/M/D (UT) <a href="#(b)">(b)</a> </b> </td><td colspan="2">
 <b>Comp. Start, End (Hrs wrt. Plasma/ Field) <a href="#(c)">(c)</a></b> </td><td colspan="2">
 <b>MC Start, End (Hrs wrt. Plasma/ Field) <a href="#(d)">(d)</a></b> </td><td>
 <b>BDE? <a href="#(e)">(e)</a></b> </td><td>
 <b>BIF? <a href="#(f)">(f)</a></b> </td><td>
 <b> Qual. <a href="#(g)">(g)</a></b></td><td>
 <b>dV (km/s) <a href="#(h)">(h)</a></b> </td><td>
 <b>V_ICME (km/s) <a href="#(i)">(i)</a></b> </td><td>
 <b>V_max (km/s) <a href="#(j)">(j)</a></b> </td><td>
 <b>B (nT) <a href="#(k)">(k)</a></b> </td><td>
 <b>MC? <a href="#(l)">(l)</a></b> </td><td>
 <b>Dst (nT) <a href="#(m)">(m)</a></b> </td><td>
 <b>V_transit (km/s) <a href="#(n)">(n)</a></b> </td><td>
 <b>LASCO CME Y/M/D (UT)<a href="#(o)"> (o)</a></b></td></tr>,
 <tr align="center"><td>1997/01/10 0104 </td><td>  1997/01/10 0400 </td><td> 1997/01/11 0200 </td><td>... </td><td>... </td><td>0 </td><td>0 </td><td>Y </td><td>... </td><td> 1 </td><td>  100 S</td><td>450 </td><td>  460 </td><td>  14 </td><td>  2 </td><td>       -78 </td><td> 507 </td><td> 1997/01/06 1510 H   </td></tr>,
 <tr align="center"><td>1997/02/09 1321 </td><td>  1997/02/10 0200 </td><td> 1997/02/10 1900 </td><td>... </td><td>... </td><td>0 </td><td>0 </td><td>Y </td><td>... </td><td> 2 </td><td> 90  S</td><td>450 </td><td>  600 </td><td>   8 </td><td>  2 </td><td>       -68 </td><td> 683 </td><td> 1997/02/07 0030 H </td></tr>,
 <tr align="center"><td>1997/04/10 1745 </td><td>  1997/04/11 0600 </td><td> 1997/04/11 1900 </td><td>... </td><td>... </td><td>0 </td><td>0 </td><td>Y </td><td>... </td><td> 1 </td><td>  150  </td><td>460 </td><td>  470 </td><td>  20 </td><td>  2 </td><td>    -82 </td><td> 552 </td><td> 1997/04/07 1427 H</td></tr>,
 <tr align="center"><td> 1997/04/21 0600 </td><td>  1997/04/21 1000 </td><td> 1997/04/23 0400 </td><td>... </td><td>... </td><td>+4 </td><td>+2 </td><td>Y </td><td>... </td><td> 2 </td><td>40  </td><td>360 </td><td>  420 </td><td>  12 </td><td>  2 </td><td>   -107 </td><td> ... </td><td> </td></tr>,
 <tr align="center"><td> 1997/05/15 0159 </td><td>  1997/05/15 0900 </td><td> 1997/05/16 0000 </td><td>... </td><td>... </td><td>0 </td><td>0 </td><td>N </td><td>Y </td><td> 1 </td><td> 150 S </td><td>450 </td><td>  480 </td><td>  21 </td><td>  2 </td><td>         -115 </td><td> 616 </td><td> 1997/05/12 0530 H </td></tr>,
 <tr align="center"><td> 1997/05/26 0957 </td><td>  1997/05/26 1600 </td><td> 1997/05/27 1000 </td><td>... </td><td>... </td><td>0 </td><td>+9 </td><td>Y </td><td>... </td><td> 2 </td><td>  70 S  </td><td>340 </td><td>  350 </td><td>  10 </td><td>  2H </td><td>          -74 </td><td> 381 </td><td> 1997/05/21 2100</td></tr>,
 <tr align="center"><td>1997/06/08 1636 </td><td>  1997/06/08 1800 </td><td> 1997/06/10 0000 </td><td>... </td><td>... </td><td>+8 </td><td>0 </td><td>Y </td><td>... </td><td> 3 </td><td>  30  </td><td>380 </td><td>  400 </td><td>  12 </td><td>  2 </td><td>       -84 </td><td> ... </td><td> </td></tr>,
 <tr align="center"><td>1997/06/19 0032 </td><td>  1997/06/19 0700 </td><td> 1997/06/20 2300 </td><td>... </td><td>... </td><td>-2 </td><td>-31 </td><td>Y </td><td>Y </td><td> 2 </td><td>  60  </td><td>360 </td><td>  390 </td><td>   8 </td><td>  2 </td><td>       -36 </td><td> ... </td><td> </td></tr>,
 <tr align="center"><td>1997/07/15 0311 </td><td>  1997/07/15 0800 </td><td> 1997/07/16 1100 </td><td>... </td><td>... </td><td>0 </td><td>-11 </td><td>Y </td><td>Y </td><td> 2 </td><td>  80  </td><td>350 </td><td>  360 </td><td>  10 </td><td>  2 </td><td>       -45 </td><td> ... </td><td> </td></tr>,
 <tr align="center"><td>1997/08/03 1042 </td><td>  1997/08/03 1300 </td><td> 1997/08/04 0300 </td><td>... </td><td>... </td><td>0 </td><td>0 </td><td>Y </td><td>... </td><td> 1 </td><td>  80  </td><td>400 </td><td>  480 </td><td>  16 </td><td>  2 </td><td>       -48 </td><td> 410 </td><td> 1997/07/30 0445 H</td></tr>,
 <tr align="center"><td>1997/08/17 0200 </td><td>  1997/08/17 0600 </td><td> 1997/08/17 2000 </td><td>... </td><td>... </td><td>... </td><td>... </td><td>N </td><td>... </td><td> 2W </td><td>60  </td><td>390 </td><td>  410 </td><td>   7 </td><td>  0 </td><td>       -28 </td><td> ... </td><td> </td></tr>,
 <tr align="center"><td>1997/09/03 0800 </td><td>  1997/09/03 1300 </td><td> 1997/09/03 2100 </td><td>... </td><td>... </td><td>... </td><td>... </td><td>Y </td><td>N </td><td> 3W </td><td>40 S </td><td>410 </td><td>  430 </td><td>  14 </td><td>  1 </td><td>    -98 </td><td> 405 </td><td> 1997/08/30 0130 H</td></tr>,
 <tr align="center"><td>1997/09/21 1651 </td><td>  1997/09/21 2100 </td><td> 1997/09/22 1600 </td><td>... </td><td>... </td><td>+3 </td><td>0 </td><td>N </td><td>... </td><td> 1 </td><td>  110  </td><td>440 </td><td>  470 </td><td>  16 </td><td>  2 </td><td>    -36 </td><td> 450 </td><td> 1997/09/17 2028 H   </td></tr>,
 <tr align="center"><td>1997/10/01 0059 </td><td>  1997/10/01 1600 </td><td> 1997/10/02 2300 </td><td>... </td><td>... </td><td>0 </td><td>0 </td><td>Y </td><td>N </td><td> 1 </td><td> 60 S </td><td>450 </td><td>  470 </td><td>  10 </td><td>  2 </td><td>       -98 </td><td> 580 </td><td> 1997/09/28 0108 H </td></tr>,
 <tr align="center"><td>1997/10/10 0300 </td><td>  1997/10/10 1100 </td><td> 1997/10/10 2200 </td><td>... </td><td>... </td><td>... </td><td>... </td><td>Y </td><td>... </td><td>2 </td><td>30 </td><td>430 </td><td>460 </td><td>   8 </td><td>  1 </td><td>    -64       </td><td>...     </td><td> </td></tr>,
 <tr align="center"><td>1997/10/10 1612 </td><td>  1997/10/10 2200 </td><td> 1997/10/12 0000 </td><td>... </td><td>... </td><td>0 </td><td>0 </td><td>Y </td><td>Y </td><td> 1 </td><td> 40 S </td><td>400 </td><td>  450 </td><td>  12 </td><td>  2 </td><td>      -130 </td><td> 430 </td><td> 1997/10/06 1528    </td></tr>,
 <tr align="center"><td>1997/10/26 1200 </td><td>  1997/10/27 0000 </td><td> 1997/10/28 0700 </td><td>... </td><td>... </td><td>... </td><td>... </td><td>Y </td><td>... </td><td> 2 </td><td>40  </td><td>500 </td><td>  520 </td><td>   7 </td><td>  1 </td><td>       -60 </td><td> 572 </td><td> 1997/10/23 1126 H</td></tr>,
 <tr align="center"><td> 1997/11/06 2248 </td><td>  1997/11/07 0400 </td><td> 1997/11/09 1200 </td><td>... </td><td>... </td><td>+11 </td><td>-21 (2 MCs) </td><td>Y </td><td>N </td><td> 2 </td><td> 140 S </td><td>400 </td><td>  460 </td><td>  11 </td><td>  2 </td><td>       -110 </td><td> 640 </td><td> 1997/11/04 0610 H</td></tr>,
 <tr align="center"><td>1997/11/22 0949 </td><td>  1997/11/22 1900 </td><td> 1997/11/23 1400 </td><td>... </td><td>... </td><td>0 </td><td>-2 </td><td>Y </td><td>... </td><td> 1 </td><td> 170 S </td><td>510 </td><td>  520 </td><td>  17 </td><td>  2 </td><td>      -108 </td><td> 640 </td><td> dg (1997/11/19 1700)</td></tr>,
 <tr align="center"><td>1997/11/23 1900 </td><td> 1997/11/24 0000  </td><td>1997/11/25 0000 </td><td>... </td><td>... </td><td>...  </td><td>...  </td><td>Y </td><td>...  </td><td>2  </td><td>100  </td><td>530  </td><td>590  </td><td>  5    </td><td> 0   </td><td>-47        </td><td>...      </td><td>   </td></tr>,
 <tr align="center"><td>1997/12/10 0526 </td><td>  1997/12/10 1800 </td><td> 1997/12/12 0000 </td><td>... </td><td>... </td><td>... </td><td>... </td><td>... </td><td>... </td><td> 2 </td><td> 50 S </td><td>350 </td><td>  380 </td><td>  12 </td><td>  0 </td><td>       -60 </td><td> 460 </td><td> 1997/12/06 1027</td></tr>,
 <tr align="center"><td> 1997/12/30 0209 </td><td>  1997/12/30 1000 </td><td> 1997/12/31 1100 </td><td>... </td><td>... </td><td>... </td><td>... </td><td>Y </td><td>... </td><td> 3 </td><td> 50 S </td><td>370 </td><td>  410 </td><td>  12 </td><td>  1 </td><td>       -77 </td><td> 430 </td><td> 1997/12/26 0231 </td></tr>,
 <tr align="center"><td><b>Disturbance Y/M/D (UT) <a href="#(a)">(a)</a></b> </td><td colspan="2">
 <b>ICME Plasma/Field Start, End Y/M/D (UT) <a href="#(b)">(b)</a> </b> </td><td colspan="2">
 <b>Comp. Start, End (Hrs wrt. Plasma/ Field) <a href="#(c)">(c)</a></b> </td><td colspan="2">
 <b>MC Start, End (Hrs wrt. Plasma/ Field) <a href="#(d)">(d)</a></b> </td><td>
 <b>BDE? <a href="#(e)">(e)</a></b> </td><td>
 <b>BIF? <a href="#(f)">(f)</a></b> </td><td>
 <b> Qual. <a href="#(g)">(g)</a></b></td><td>
 <b>dV (km/s) <a href="#(h)">(h)</a></b> </td><td>
 <b>V_ICME (km/s) <a href="#(i)">(i)</a></b> </td><td>
 <b>V_max (km/s) <a href="#(j)">(j)</a></b> </td><td>
 <b>B (nT) <a href="#(k)">(k)</a></b> </td><td>
 <b>MC? <a href="#(l)">(l)</a></b> </td><td>
 <b>Dst (nT) <a href="#(m)">(m)</a></b> </td><td>
 <b>V_transit (km/s) <a href="#(n)">(n)</a></b> </td><td>
 <b>LASCO CME Y/M/D (UT)<a href="#(o)"> (o)</a></b></td></tr>,
 <tr align="center"><td>
  1998/01/06 1416</td><td>  1998/01/07 0100</td><td> 1998/01/08 2200</td><td>...</td><td>...</td><td>+2</td><td>0 (2 MCs) </td><td>Y</td><td>..</td><td> 2</td><td> 80 S</td><td>400</td><td>  410</td><td>  16</td><td>  2</td><td>       -77</td><td> 480</td><td> 1998/01/02 2328 H   </td></tr>,
 <tr align="center"><td>
  1998/01/09 0700</td><td>  1998/01/09 0700</td><td> 1998/01/10 0800</td><td>...</td><td>...</td><td>...</td><td>...</td><td>N</td><td>...</td><td> 2</td><td>0 </td><td>450</td><td>  500</td><td>   6</td><td>  1</td><td>       -28</td><td> ...</td><td>        </td> </tr>,
 <tr align="center"><td>
  1998/01/20 0000</td><td>  1998/01/20 1700</td><td> 1998/01/21 0400</td><td>...</td><td>...</td><td>...</td><td>...</td><td>Y</td><td>...</td><td> 3W</td><td>50 </td><td>430</td><td>  450</td><td>   5</td><td>  1</td><td>       -29</td><td> ...</td><td>      </td> </tr>,
 <tr align="center"><td>
  1998/01/21 0400</td><td>  1998/01/21 0600</td><td> 1998/01/22 1300</td><td>...</td><td>...</td><td>...</td><td>...</td><td>N</td><td>...</td><td> 3W</td><td>0 </td><td>380</td><td>  400</td><td>  13</td><td>  0</td><td>     -11</td><td> 430</td><td> 1998/01/17 0409 H </td></tr>,
 <tr align="center"><td>
  1998/01/28 1600(A)</td><td>  1998/01/29 2000</td><td> 1998/01/31 0100</td><td>...</td><td>...</td><td>...</td><td>...</td><td>Y</td><td>N</td><td> 2</td><td>30 S </td><td>380</td><td>  410</td><td>   7</td><td>  0</td><td>     -55</td><td> 557</td><td> 1998/01/25 1526 H  </td></tr>,
 <tr align="center"><td>
  1998/02/04 0000</td><td>  1998/02/04 0400</td><td> 1998/02/05 2300</td><td>...</td><td>...</td><td>0</td><td>0</td><td>Y</td><td>...</td><td> 1</td><td>50 </td><td>320</td><td>  390</td><td>  11</td><td>  2</td><td>       -34</td><td> ...</td><td>    </td> </tr>,
 <tr align="center"><td>
  1998/02/17 0400</td><td>  1998/02/17 1000</td><td> 1998/02/17 2100</td><td>ns</td><td>ns</td><td>0</td><td>+7</td><td>Y</td><td>...</td><td> 2W</td><td>30 </td><td>400</td><td>  420</td><td>  12</td><td>  2H</td><td>      -100</td><td> 602</td><td> 1998/02/14 0655  </td></tr>,
 <tr align="center"><td>
  1998/02/18 0750(A)</td><td>  1998/02/19 0100</td><td> <b></b>1998/02/20 0000</td><td>-3</td><td>...</td><td>...</td><td>...</td><td>N</td><td>...</td><td> 2</td><td>20 S</td><td>440</td><td>  460</td><td>   9</td><td>  1</td><td>    -51</td><td> ...</td><td>       </td> </tr>,
 <tr align="center"><td>
  1998/03/04 1156</td><td>  1998/03/04 1300</td><td> 1998/03/06 0900</td><td>0</td><td>-9</td><td>0</td><td>-3</td><td>N</td><td>...</td><td> 1</td><td>  30 S </td><td>350</td><td>  380</td><td>  12</td><td>  2</td><td>    -36</td><td> 440</td><td> 1998/02/28 1248      </td></tr>,
 <tr align="center"><td>

  1998/03/25 1000</td><td>  1998/03/25 1300</td><td> 1998/03/26 1000</td><td>...</td><td>...</td><td>...</td><td>...</td><td>Y</td><td>Y</td><td> 1</td><td>20 </td><td>400</td><td>  400</td><td>  10</td><td>  1</td><td>    -56</td><td> ...</td><td>  </td> </tr>,
 <tr align="center"><td>
  1998/03/30 2200</td><td>  1998/03/31 1100</td><td>1998/04/03 0200 </td><td>-6</td><td>0</td><td>...</td><td>...</td><td>N</td><td>Y</td><td> 1</td><td>30 </td><td>360   </td><td>430 </td><td> 7</td><td>  0 </td><td> -35 </td><td>... </td><td>    </td> </tr>,
 <tr align="center"><td>
  1998/04/11 2300</td><td>  1998/04/11 2300</td><td> 1998/04/13 1800</td><td>ns</td><td>ns</td><td>...</td><td>...</td><td>N</td><td>...</td><td> 3W</td><td>20 </td><td>390</td><td>  390</td><td>   8</td><td>  0</td><td>    -46</td><td> ...</td><td>         </td> </tr>,
 <tr align="center"><td>
  1998/05/01 2156</td><td>  1998/05/02 0500</td><td> 1998/05/04 0200</td><td>-2</td><td>-24</td><td>+7</td><td>-9</td><td>Y</td><td>Y</td><td> 1</td><td> 150 S </td><td>520</td><td>  650</td><td>  11</td><td>  2</td><td>       -85</td><td> 780</td><td> 1998/04/29 1658 H  </td></tr>,
 <tr align="center"><td>
  1998/05/04 0215(A)</td><td>  1998/05/04 1000</td><td> 1998/05/07 2300</td><td>-7</td><td>0</td><td>...</td><td>...</td><td>Y</td><td>...</td><td> 2</td><td>  250 Wv </td><td>550</td><td>  830</td><td> 10</td><td>  0</td><td> -205</td><td>1150</td><td> 1998/05/02 1406 H<a href="#(p)">(p)</a> </td></tr>,
 <tr align="center"><td>
  1998/06/02 0800</td><td>  1998/06/02 1000</td><td> 1998/06/02 1800</td><td>...</td><td>...</td><td>0</td><td>0</td><td>N</td><td>...</td><td> 2</td><td>10 </td><td>390</td><td>  400</td><td>  9</td><td>  2</td><td>       -1</td><td> ...</td><td>     </td> </tr>,
 <tr align="center"><td>
  1998/06/13 1925</td><td>  1998/06/14 0400</td><td> 1998/06/15 0600</td><td>...</td><td>...</td><td>...</td><td>...</td><td>Y</td><td>N</td><td> 3</td><td>  80 S </td><td>340</td><td>  380</td><td>  10</td><td>  1</td><td>       -55</td><td> ...</td><td>      </td> </tr>,
 <tr align="center"><td>
  1998/06/24 1000</td><td>  1998/06/24 1600</td><td> 1998/06/25 2300</td><td>0</td><td>0</td><td>0</td><td>0</td><td>Y</td><td>...</td><td> 2</td><td>80 </td><td>450</td><td>  540</td><td>  12</td><td>  2</td><td>       -25</td><td> ...</td><td> 1998/06/21 0535?     </td></tr>,
 <tr align="center"><td>
  1998/06/25 1636</td><td>  1998/06/26 0400</td><td> 1998/06/26 1900</td><td>0</td><td>0</td><td>...</td><td>...</td><td>Y</td><td>...</td><td> 2</td><td>  30 S </td><td>470</td><td>  490</td><td>  11</td><td>  0</td><td>      -101</td><td> ...</td><td>          </td> </tr>,
 <tr align="center"><td>
  1998/07/05 0315(A)</td><td>  1998/07/06 0600</td><td> 1998/07/09 0700</td><td>0</td><td>...</td><td>...</td><td>...</td><td>N</td><td>...</td><td> 1</td><td>50 S </td><td>450</td><td>  630</td><td>   5</td><td>  0</td><td>       -30</td><td>  dg</td><td> dg               </td></tr>,
 <tr align="center"><td>
  1998/07/10 2300</td><td>  1998/07/11 0000</td><td> 1998/07/13 1500</td><td>...</td><td>...</td><td>...</td><td>...</td><td>Y</td><td>Y</td><td> 3W</td><td>20 </td><td>400</td><td>  430</td><td>  10</td><td>  0</td><td>       -35</td><td>  dg</td><td> dg           </td></tr>,
 <tr align="center"><td>
  1998/08/01 0400</td><td>  1998/08/01 0400</td><td> 1998/08/03 1000</td><td>0</td><td>...</td><td>...</td><td>...</td><td>N</td><td>Y</td><td> 3</td><td>30 </td><td>410</td><td>  450</td><td>   7</td><td>  1</td><td>       -6</td><td>  dg</td><td> dg               </td></tr>,
 <tr align="center"><td>
  1998/08/05 1300</td><td>  1998/08/05 1300</td><td> 1998/08/06 1200</td><td>...</td><td>...</td><td>...</td><td>...</td><td>Y</td><td>Y</td><td> 2W</td><td>0 </td><td>360</td><td>  390</td><td>  8</td><td>  1</td><td>      -138</td><td>  dg</td><td> dg          </td></tr>,
 <tr align="center"><td>
  1998/08/07 1100</td><td>  1998/08/07 2300</td><td> 1998/08/09 2300</td><td>...</td><td>...</td><td>...</td><td>...</td><td>N</td><td>Y</td><td> 2</td><td>0 </td><td>450</td><td>  500</td><td>   7</td><td>  0</td><td>       -62</td><td>  dg</td><td> dg           </td></tr>,
 <tr align="center"><td>
  1998/08/10 0046</td><td>  1998/08/10 1100</td><td> 1998/08/10 2200</td><td>ns</td><td>ns</td><td>...</td><td>...</td><td>Y</td><td>N</td><td> 3W</td><td> 100 S </td><td>450</td><td>  500</td><td>  7</td><td>  0</td><td>       -27</td><td>  dg</td><td> dg               </td></tr>,
 <tr align="center"><td>
  1998/08/11 2300</td><td>  1998/08/12 0100</td><td> 1998/08/13 1400</td><td>ns</td><td>ns</td><td>...</td><td>...</td><td>Y</td><td>...</td><td> 3W</td><td>20 </td><td>370</td><td>  420</td><td>  8</td><td>  1</td><td>       -19</td><td>  dg</td><td> dg               </td></tr>,
 <tr align="center"><td>
  1998/08/19 1847</td><td>  1998/08/20 0600</td><td> 1998/08/21 2000</td><td>0</td><td>0</td><td>+4</td><td>0</td><td>Y</td><td>Y</td><td> 1</td><td>  50 S </td><td>320</td><td>  340</td><td>  13</td><td>  2</td><td>       -67</td><td>  dg</td><td> dg               </td></tr>,
 <tr align="center"><td>
  1998/08/26 0651</td><td>  1998/08/26 2200</td><td> 1998/08/28 0000</td><td>0</td><td>+18</td><td>...</td><td>...</td><td>Y</td><td>...</td><td> 2</td><td>200 S </td><td>650</td><td>  860</td><td>  14</td><td>  0</td><td>      -155</td><td>1260</td><td> dg (1998/08/24 2200) </td></tr>,
 <tr align="center"><td>
  1998/09/23 0200</td><td>1998/09/23 0400</td><td>1998/09/23 1800</td><td>ns</td><td>ns</td><td>...</td><td>...</td><td>Y</td><td>N</td><td>2</td><td> 80</td><td> 420  </td><td>490  </td><td>   7 </td><td>  1  </td><td> -33    </td><td>dg    </td><td> dg   </td></tr>,
 <tr align="center"><td>
  1998/09/24 2345</td><td>  1998/09/25 0600</td><td> 1998/09/26 1600</td><td>-2</td><td>+4</td><td>+4</td><td>-3</td><td>Y</td><td>Y</td><td> 1</td><td> 300 S </td><td>640</td><td>  820</td><td>  13</td><td>  2</td><td>   -207</td><td>1020</td><td> dg (1998/09/23 0700) </td></tr>,
 <tr align="center"><td>

these are data from 1996 - 1999. Let's extract it and then I will work on the rest of the data however the process is similar.

In [270]:
len(data_1)

70

the first element is the headers or column names. check out the number of columns

In [313]:
data_1[0].text.strip().split('\n')

['Disturbance Y/M/D (UT) (a) ',
 'ICME Plasma/Field Start, End Y/M/D (UT) (b)  ',
 'Comp. Start, End (Hrs wrt. Plasma/ Field) (c) ',
 'MC Start, End (Hrs wrt. Plasma/ Field) (d) ',
 'BDE? (e) ',
 'BIF? (f) ',
 ' Qual. (g)',
 'dV (km/s) (h) ',
 'V_ICME (km/s) (i) ',
 'V_max (km/s) (j) ',
 'B (nT) (k) ',
 'MC? (l) ',
 'Dst (nT) (m) ',
 'V_transit (km/s) (n) ',
 'LASCO CME Y/M/D (UT) (o)']

In [296]:
a = list(data_1[0])
len(a)

15

There are 15 columns in table. The next element has 18 elements which are the data we looking for. let's check out the number of elements.

In [295]:
a = list(data_1[1])
len(a)

18

make a list of data and iterate through and extract the data.

In [290]:
data_ext = []
for i in range(0,18):
    data_ext.append(a[i].text.strip())
#     print(a[i].text.strip())

In [364]:
# data_ext

we have to iterate through all 70 elements of data. 

note that some are just header with 15 sub elements, and some are the data with 18. let's gather all and later filter out data.

In [350]:
num_ite_1 = len(data_1)

# keep data in data_ext list
data_ext = []
for i in range(0, num_ite_1):
    
    # make a list
    a = list(data_1[i])
    num_ite_2 = len(a)
#     print(num_ite_2)
    
    collector = []
    for j in range(0, num_ite_2):
        try:
            collector.append(a[j].text.strip())
        except:
            pass
    data_ext.append(collector)

In [358]:
len(data_ext[1])

18

In [359]:
real_data = []
for i in range(len(data_ext)):
    if len(data_ext[i]) == 18:
        real_data.append(data_ext[i])

In [363]:
len(real_data)

66

In [367]:
import pandas as pd
real_data_pd = pd.DataFrame(real_data)
real_data_pd.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
0,1996/05/27 1500,1996/05/27 1500,1996/05/29 0300,...,...,0,+4,N,...,2,0,370,400,9,2,-33,...,
1,1996/07/01 1320,1996/07/01 1800,1996/07/02 1100,...,...,0,0,N,...,3,40,360,370,11,2,-20,...,
2,1996/08/07 0600,1996/08/07 1200,1996/08/08 1000,...,...,0,0,N,...,2,10,350,380,7,2,-23,...,
3,1996/12/23 1600,1996/12/23 1700,1996/12/25 1100,...,...,+10,0,N,...,2,20,360,420,10,2,-18,435,1996/12/19 1630 H
4,1997/01/10 0104,1997/01/10 0400,1997/01/11 0200,...,...,0,0,Y,...,1,100 S,450,460,14,2,-78,507,1997/01/06 1510 H

In [381]:
real_data_pd.tail()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
61,1998/12/28 1826,1998/12/29 1800,1998/12/31 0200,0,0,...,...,N,...,2,30 S,400,410,8,0,-58,dg,dg
62,1999/01/04 0000,1999/01/04 0400,1999/01/04 2200,ns,ns,...,...,Y,...,3W,20,350,360,8,0,-29,dg,dg
63,1999/01/13 1054,1999/01/13 1500,1999/01/13 2300,0,0,...,...,N,...,2,70 S,420,430,18,0,-112,dg,dg
64,1999/01/22 1950(A),1999/01/23 0900,1999/01/23 1800,nc,0,...,...,Y,...,3,120 S,570,660,12,0,-52,dg,dg
65,1999/02/13 1900,1999/02/13 1900,1999/02/14 1500,0,-3,...,...,N,...,3W,20,440,470,9,0,-17,...,

In [368]:
real_data_pd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 66 entries, 0 to 65
Data columns (total 18 columns):
0     66 non-null object
1     66 non-null object
2     66 non-null object
3     66 non-null object
4     66 non-null object
5     66 non-null object
6     66 non-null object
7     66 non-null object
8     66 non-null object
9     66 non-null object
10    66 non-null object
11    66 non-null object
12    66 non-null object
13    66 non-null object
14    66 non-null object
15    66 non-null object
16    66 non-null object
17    66 non-null object
dtypes: object(18)
memory usage: 9.4+ KB

In [373]:
real_data_pd.describe().T

   count unique              top freq
0     66     66  1998/08/01 0400    1
1     66     66  1998/08/01 0400    1
2     66     66  1998/10/20 0700    1
3     66      9              ...   38
4     66      9              ...   41
5     66     10              ...   35
6     66     16              ...   35
7     66      3                Y   44
8     66      4              ...   42
9     66      5                2   29
10    66     28               20    7
11    66     23              450   11
12    66     28              400    6
13    66     16               12   10
14    66      4                2   28
15    66     54              -36    3
16    66     28              ...   24
17    66     32                    23

## Save data

In [374]:
file_path = "../Data/"
file_name = "Data_ICME_scraped.csv"
real_data_pd.to_csv(file_path+file_name)

I need to work on the rest of the data and in a similar fashion extract the rest of it.

In [377]:
# csv_path = "../Data/Data_ICME_scraped.csv"
# df = pd.read_csv(csv_path, index_col='0', parse_dates=True)