# P02_01_EDA

In [1]:
section_fig_main_title = 'P02_01_EDA_'

In [2]:
import os, sys
import requests
from urllib.parse import urljoin, urlparse
from bs4 import BeautifulSoup as bs
import re
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%config InlineBackend.figure_format = 'retina'
from pandas.plotting import lag_plot

In [3]:
from pandas.plotting import autocorrelation_plot

In [4]:
import warnings
warnings.filterwarnings('ignore')

In [5]:
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import StandardScaler, PolynomialFeatures

In [6]:
from sklearn import metrics
import statsmodels.api as sm

## Read Data

the page html file downloaded in Data directory and it is loaded below.

In [7]:
csv_path = "../Data/Data_ICME_scraped.csv"
data = pd.read_csv(csv_path, parse_dates=True)

In [8]:
data.head(2)

,Unnamed: 0,Disturbance Y/M/D (UT) (a),ICME Plasma/Field Start Y/M/D (UT) (b),ICME Plasma/Field End Y/M/D (UT) (b),Comp. Start (Hrs wrt. Plasma/ Field) (c),Comp. End (Hrs wrt. Plasma/ Field) (c),MC Start (Hrs wrt. Plasma/ Field) (d),End (Hrs wrt. Plasma/ Field) (d),BDE? (e),BIF? (f),Qual. (g),dV (km/s) (h),V_ICME (km/s) (i),V_max (km/s) (j),B (nT) (k),MC? (l),Dst (nT) (m),V_transit (km/s) (n),LASCO CME Y/M/D (UT) (o)
0,0,1996/05/27 1500,1996/05/27 1500,1996/05/29 0300,...,...,0,+4,N,...,2,0,370,400,9,2,-33,...,NaN
1,1,1996/07/01 1320,1996/07/01 1800,1996/07/02 1100,...,...,0,0,N,...,3,40,360,370,11,2,-20,...,NaN

In [10]:
data = data.drop(columns=['Unnamed: 0'])

In [11]:
data.head()

,Disturbance Y/M/D (UT) (a),ICME Plasma/Field Start Y/M/D (UT) (b),ICME Plasma/Field End Y/M/D (UT) (b),Comp. Start (Hrs wrt. Plasma/ Field) (c),Comp. End (Hrs wrt. Plasma/ Field) (c),MC Start (Hrs wrt. Plasma/ Field) (d),End (Hrs wrt. Plasma/ Field) (d),BDE? (e),BIF? (f),Qual. (g),dV (km/s) (h),V_ICME (km/s) (i),V_max (km/s) (j),B (nT) (k),MC? (l),Dst (nT) (m),V_transit (km/s) (n),LASCO CME Y/M/D (UT) (o)
0,1996/05/27 1500,1996/05/27 1500,1996/05/29 0300,...,...,0,+4,N,...,2,0,370,400,9,2,-33,...,NaN
1,1996/07/01 1320,1996/07/01 1800,1996/07/02 1100,...,...,0,0,N,...,3,40,360,370,11,2,-20,...,NaN
2,1996/08/07 0600,1996/08/07 1200,1996/08/08 1000,...,...,0,0,N,...,2,10,350,380,7,2,-23,...,NaN
3,1996/12/23 1600,1996/12/23 1700,1996/12/25 1100,...,...,+10,0,N,...,2,20,360,420,10,2,-18,435,1996/12/19 1630 H
4,1997/01/10 0104,1997/01/10 0400,1997/01/11 0200,...,...,0,0,Y,...,1,100 S,450,460,14,2,-78,507,1997/01/06 1510 H

print out the csv file in GitHub readme format to be used in the readme file.

In [12]:
# from tabulate import tabulate
# print(tabulate(df, tablefmt="github"))

In [13]:
data.isnull().sum()

Disturbance Y/M/D (UT) (a)                    0
ICME Plasma/Field Start Y/M/D (UT) (b)        0
ICME Plasma/Field End Y/M/D (UT) (b)          0
Comp. Start (Hrs wrt. Plasma/ Field) (c)      0
Comp. End (Hrs wrt. Plasma/ Field) (c)        0
MC Start (Hrs wrt. Plasma/ Field) (d)         0
End (Hrs wrt. Plasma/ Field) (d)              0
BDE? (e)                                      0
BIF? (f)                                      0
Qual. (g)                                     0
dV (km/s) (h)                                 0
V_ICME (km/s) (i)                             0
V_max (km/s) (j)                              0
B (nT) (k)                                    0
MC? (l)                                       0
Dst (nT) (m)                                  0
V_transit (km/s) (n)                          1
LASCO CME Y/M/D (UT) (o)                    235
dtype: int64

In [14]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 513 entries, 0 to 512
Data columns (total 18 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   Disturbance Y/M/D (UT) (a)                513 non-null    object
 1   ICME Plasma/Field Start Y/M/D (UT) (b)    513 non-null    object
 2   ICME Plasma/Field End Y/M/D (UT) (b)      513 non-null    object
 3   Comp. Start (Hrs wrt. Plasma/ Field) (c)  513 non-null    object
 4   Comp. End (Hrs wrt. Plasma/ Field) (c)    513 non-null    object
 5   MC Start (Hrs wrt. Plasma/ Field) (d)     513 non-null    object
 6   End (Hrs wrt. Plasma/ Field) (d)          513 non-null    object
 7   BDE? (e)                                  513 non-null    object
 8   BIF? (f)                                  513 non-null    object
 9   Qual. (g)                                 513 non-null    object
 10  dV (km/s) (h)                             513 non-null    object
 11  V_ICME (km/s) (i)                         513 non-null    int64
 12  V_max (km/s) (j)                          513 non-null    int64
 13  B (nT) (k)                                513 non-null    int64
 14  MC? (l)                                   513 non-null    object
 15  Dst (nT) (m)                              513 non-null    object
 16  V_transit (km/s) (n)                      512 non-null    object
 17  LASCO CME Y/M/D (UT) (o)                  278 non-null    object
dtypes: int64(3), object(15)
memory usage: 72.3+ KB

In [15]:
data.describe()

       V_ICME (km/s) (i)  V_max (km/s) (j)  B (nT) (k)
count         513.000000        513.000000  513.000000
mean          454.405458        524.795322    9.709552
std           103.537467        159.000808    4.325552
min           290.000000        310.000000    2.000000
25%           390.000000        420.000000    7.000000
50%           430.000000        490.000000    9.000000
75%           500.000000        590.000000   12.000000
max          1300.000000       1900.000000   33.000000

In [16]:
data.columns

Index(['Disturbance Y/M/D (UT) (a)', 'ICME Plasma/Field Start Y/M/D (UT) (b)',
       'ICME Plasma/Field End Y/M/D (UT) (b)',
       'Comp. Start (Hrs wrt. Plasma/ Field) (c)',
       'Comp. End (Hrs wrt. Plasma/ Field) (c)',
       'MC Start (Hrs wrt. Plasma/ Field) (d)',
       'End (Hrs wrt. Plasma/ Field) (d)', 'BDE? (e)', 'BIF? (f)', 'Qual. (g)',
       'dV (km/s) (h)', 'V_ICME (km/s) (i)', 'V_max (km/s) (j)', 'B (nT) (k)',
       'MC? (l)', 'Dst (nT) (m)', 'V_transit (km/s) (n)',
       'LASCO CME Y/M/D (UT) (o)'],
      dtype='object')

### Fixing the date time format

In [17]:
data.columns

Index(['Disturbance Y/M/D (UT) (a)', 'ICME Plasma/Field Start Y/M/D (UT) (b)',
       'ICME Plasma/Field End Y/M/D (UT) (b)',
       'Comp. Start (Hrs wrt. Plasma/ Field) (c)',
       'Comp. End (Hrs wrt. Plasma/ Field) (c)',
       'MC Start (Hrs wrt. Plasma/ Field) (d)',
       'End (Hrs wrt. Plasma/ Field) (d)', 'BDE? (e)', 'BIF? (f)', 'Qual. (g)',
       'dV (km/s) (h)', 'V_ICME (km/s) (i)', 'V_max (km/s) (j)', 'B (nT) (k)',
       'MC? (l)', 'Dst (nT) (m)', 'V_transit (km/s) (n)',
       'LASCO CME Y/M/D (UT) (o)'],
      dtype='object')

In [18]:
data['ICME Plasma/Field Start Y/M/D (UT) (b)'].head()

0    1996/05/27 1500
1    1996/07/01 1800
2    1996/08/07 1200
3    1996/12/23 1700
4    1997/01/10 0400
Name: ICME Plasma/Field Start Y/M/D (UT) (b), dtype: object

As it is seen, the format of data is as follow ```1997/01/10 0400```.
Let's fix the format below.

For example:

In [19]:
str_ = '1997/01/10 0400'

date_object = pd.to_datetime(str_, infer_datetime_format=True)
date_object

Timestamp('1997-01-10 04:00:00')

fix the date time fol columns ```ICME Plasma/Field Start Y/M/D (UT) (b)``` and ```ICME Plasma/Field End Y/M/D (UT) (b)``` as follow.

In [20]:
data['ICME Plasma/Field Start Y/M/D (UT) (b)'] = pd.to_datetime(data['ICME Plasma/Field Start Y/M/D (UT) (b)'], infer_datetime_format=True)
data.head()

,Disturbance Y/M/D (UT) (a),ICME Plasma/Field Start Y/M/D (UT) (b),ICME Plasma/Field End Y/M/D (UT) (b),Comp. Start (Hrs wrt. Plasma/ Field) (c),Comp. End (Hrs wrt. Plasma/ Field) (c),MC Start (Hrs wrt. Plasma/ Field) (d),End (Hrs wrt. Plasma/ Field) (d),BDE? (e),BIF? (f),Qual. (g),dV (km/s) (h),V_ICME (km/s) (i),V_max (km/s) (j),B (nT) (k),MC? (l),Dst (nT) (m),V_transit (km/s) (n),LASCO CME Y/M/D (UT) (o)
0,1996/05/27 1500,1996-05-27 15:00:00,1996/05/29 0300,...,...,0,+4,N,...,2,0,370,400,9,2,-33,...,NaN
1,1996/07/01 1320,1996-07-01 18:00:00,1996/07/02 1100,...,...,0,0,N,...,3,40,360,370,11,2,-20,...,NaN
2,1996/08/07 0600,1996-08-07 12:00:00,1996/08/08 1000,...,...,0,0,N,...,2,10,350,380,7,2,-23,...,NaN
3,1996/12/23 1600,1996-12-23 17:00:00,1996/12/25 1100,...,...,+10,0,N,...,2,20,360,420,10,2,-18,435,1996/12/19 1630 H
4,1997/01/10 0104,1997-01-10 04:00:00,1997/01/11 0200,...,...,0,0,Y,...,1,100 S,450,460,14,2,-78,507,1997/01/06 1510 H

In [21]:
data['ICME Plasma/Field End Y/M/D (UT) (b)'] = pd.to_datetime(data['ICME Plasma/Field End Y/M/D (UT) (b)'], infer_datetime_format=True)
data.head()

,Disturbance Y/M/D (UT) (a),ICME Plasma/Field Start Y/M/D (UT) (b),ICME Plasma/Field End Y/M/D (UT) (b),Comp. Start (Hrs wrt. Plasma/ Field) (c),Comp. End (Hrs wrt. Plasma/ Field) (c),MC Start (Hrs wrt. Plasma/ Field) (d),End (Hrs wrt. Plasma/ Field) (d),BDE? (e),BIF? (f),Qual. (g),dV (km/s) (h),V_ICME (km/s) (i),V_max (km/s) (j),B (nT) (k),MC? (l),Dst (nT) (m),V_transit (km/s) (n),LASCO CME Y/M/D (UT) (o)
0,1996/05/27 1500,1996-05-27 15:00:00,1996-05-29 03:00:00,...,...,0,+4,N,...,2,0,370,400,9,2,-33,...,NaN
1,1996/07/01 1320,1996-07-01 18:00:00,1996-07-02 11:00:00,...,...,0,0,N,...,3,40,360,370,11,2,-20,...,NaN
2,1996/08/07 0600,1996-08-07 12:00:00,1996-08-08 10:00:00,...,...,0,0,N,...,2,10,350,380,7,2,-23,...,NaN
3,1996/12/23 1600,1996-12-23 17:00:00,1996-12-25 11:00:00,...,...,+10,0,N,...,2,20,360,420,10,2,-18,435,1996/12/19 1630 H
4,1997/01/10 0104,1997-01-10 04:00:00,1997-01-11 02:00:00,...,...,0,0,Y,...,1,100 S,450,460,14,2,-78,507,1997/01/06 1510 H

In [22]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 513 entries, 0 to 512
Data columns (total 18 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   Disturbance Y/M/D (UT) (a)                513 non-null    object
 1   ICME Plasma/Field Start Y/M/D (UT) (b)    513 non-null    datetime64[ns]
 2   ICME Plasma/Field End Y/M/D (UT) (b)      513 non-null    datetime64[ns]
 3   Comp. Start (Hrs wrt. Plasma/ Field) (c)  513 non-null    object
 4   Comp. End (Hrs wrt. Plasma/ Field) (c)    513 non-null    object
 5   MC Start (Hrs wrt. Plasma/ Field) (d)     513 non-null    object
 6   End (Hrs wrt. Plasma/ Field) (d)          513 non-null    object
 7   BDE? (e)                                  513 non-null    object
 8   BIF? (f)                                  513 non-null    object
 9   Qual. (g)                                 513 non-null    object
 10  dV (km/s) (h)                             513 non-null    object
 11  V_ICME (km/s) (i)                         513 non-null    int64
 12  V_max (km/s) (j)                          513 non-null    int64
 13  B (nT) (k)                                513 non-null    int64
 14  MC? (l)                                   513 non-null    object
 15  Dst (nT) (m)                              513 non-null    object
 16  V_transit (km/s) (n)                      512 non-null    object
 17  LASCO CME Y/M/D (UT) (o)                  278 non-null    object
dtypes: datetime64[ns](2), int64(3), object(13)
memory usage: 72.3+ KB

In [23]:
data.nunique()

Disturbance Y/M/D (UT) (a)                  513
ICME Plasma/Field Start Y/M/D (UT) (b)      513
ICME Plasma/Field End Y/M/D (UT) (b)        513
Comp. Start (Hrs wrt. Plasma/ Field) (c)     31
Comp. End (Hrs wrt. Plasma/ Field) (c)       41
MC Start (Hrs wrt. Plasma/ Field) (d)        19
End (Hrs wrt. Plasma/ Field) (d)             41
BDE? (e)                                      4
BIF? (f)                                      4
Qual. (g)                                     5
dV (km/s) (h)                                63
V_ICME (km/s) (i)                            51
V_max (km/s) (j)                             68
B (nT) (k)                                   25
MC? (l)                                       4
Dst (nT) (m)                                223
V_transit (km/s) (n)                        125
LASCO CME Y/M/D (UT) (o)                    251
dtype: int64

In [28]:
data.head()

,Disturbance Y/M/D (UT) (a),ICME Plasma/Field Start Y/M/D (UT) (b),ICME Plasma/Field End Y/M/D (UT) (b),Comp. Start (Hrs wrt. Plasma/ Field) (c),Comp. End (Hrs wrt. Plasma/ Field) (c),MC Start (Hrs wrt. Plasma/ Field) (d),End (Hrs wrt. Plasma/ Field) (d),BDE? (e),BIF? (f),Qual. (g),dV (km/s) (h),V_ICME (km/s) (i),V_max (km/s) (j),B (nT) (k),MC? (l),Dst (nT) (m),V_transit (km/s) (n),LASCO CME Y/M/D (UT) (o)
0,1996/05/27 1500,1996-05-27 15:00:00,1996-05-29 03:00:00,...,...,0,+4,N,...,2,0,370,400,9,2,-33,...,NaN
1,1996/07/01 1320,1996-07-01 18:00:00,1996-07-02 11:00:00,...,...,0,0,N,...,3,40,360,370,11,2,-20,...,NaN
2,1996/08/07 0600,1996-08-07 12:00:00,1996-08-08 10:00:00,...,...,0,0,N,...,2,10,350,380,7,2,-23,...,NaN
3,1996/12/23 1600,1996-12-23 17:00:00,1996-12-25 11:00:00,...,...,+10,0,N,...,2,20,360,420,10,2,-18,435,1996/12/19 1630 H
4,1997/01/10 0104,1997-01-10 04:00:00,1997-01-11 02:00:00,...,...,0,0,Y,...,1,100 S,450,460,14,2,-78,507,1997/01/06 1510 H

# Check out unique values percentage

In [89]:
uniq_index[0]

'Disturbance Y/M/D (UT) (a)'

In [92]:
uniq_index = list(data.nunique().index)
uniq_values = list(data.nunique())

num_rows = data.shape[0]

uniq_percent = [(val*100)/num_rows for val in uniq_values]
for i, uniq in enumerate(uniq_percent):
    
    # print columns with low number of unique values
#     if uniq < 1:

        
    print(uniq_index[i])
    print(round(uniq, 2))

Disturbance Y/M/D (UT) (a)
100.0
ICME Plasma/Field Start Y/M/D (UT) (b)
100.0
ICME Plasma/Field End Y/M/D (UT) (b)
100.0
Comp. Start (Hrs wrt. Plasma/ Field) (c)
6.04
Comp. End (Hrs wrt. Plasma/ Field) (c)
7.99
MC Start (Hrs wrt. Plasma/ Field) (d)
3.7
End (Hrs wrt. Plasma/ Field) (d)
7.99
BDE? (e)
0.78
BIF? (f)
0.78
Qual. (g)
0.97
dV (km/s) (h)
12.28
V_ICME (km/s) (i)
9.94
V_max (km/s) (j)
13.26
B (nT) (k)
4.87
MC? (l)
0.78
Dst (nT) (m)
43.47
V_transit (km/s) (n)
24.37
LASCO CME Y/M/D (UT) (o)
48.93

In [93]:
from numpy import arange
from pandas import read_csv
from sklearn.feature_selection import VarianceThreshold
from matplotlib import pyplot

In [100]:
# split data into inputs and outputs
data = data.to_numpy()
X = data.drop(['V_ICME (km/s) (i)'], axis=1)
y = data['V_ICME (km/s) (i)']
print(X.shape, y.shape)
# define thresholds to check
thresholds = arange(0.0, 0.55, 0.05)
# apply transform with each threshold
results = list()
for t in thresholds:
	# define the transform
	transform = VarianceThreshold(threshold=t)
	# transform the input data
	X_sel = transform.fit_transform(X)
	# determine the number of input features
	n_features = X_sel.shape[1]
	print('>Threshold=%.2f, Features=%d' % (t, n_features))
	# store the result
	results.append(n_features)
# plot the threshold vs the number of selected features
pyplot.plot(thresholds, results)
pyplot.show()

AttributeError: 'numpy.ndarray' object has no attribute 'to_numpy'